page-login {
    .bg-style {
        background:#4EAE1F;
        width: 100%;
        overflow: x-hidden;
    }
}

ion-content {

}

#facebook {
    background-color: #29487d;
    margin: 0 auto;
}

#facebook-logo {
    margin-right: 10px;
}