<h3>{{puntos}} puntos</h3>
<div *ngIf="puntos<50" >
    <img  class="item" src="../../assets/imgs/cone.png"/>
    <h4>Eres un Conejo!</h4>
    <p>Has dado el primer paso para convertirte en el nuevo salvador del mundo, las huellas de conejos son todavia pequenas, pero se hace camino al caminar.</p>
</div>
<div *ngIf="puntos>50 && puntos<100" >
    <img class="item"  src="../../assets/imgs/coco.png"/>
    <h4>Eres un Cocodrilo</h4>
    <p>Tu huella ahora es mas significante, y con cada actividad crece, y esto no es solo beneficioso para ti, sino para todos los que te rodean.</p>
</div>
<div *ngIf="puntos>100 && puntos<500">
    <img class="item"  src="../../assets/imgs/oso.png"/>
    <h4>Eres un Oso</h4>
    <p>Gran Oso, eres como un ninja del medio ambiente, has encontrado el camino hacia un planeta mas sustentable</p>
</div>
<div *ngIf="puntos>500">
    <img class="item" src="../../assets/imgs/ele.png"/>
    <h4>Eres un Elefante</h4>
    <p>Uh lala senor frances, eres el amo y senor del medioambiente, todos tus amigos querraan ser como vos</p>
</div>
