page-leaderboard {

}

.icon-gold {
    font-size: 32px;
    color : 	#FFD700;
    float: right;
  }
.icon-plata{
    font-size: 32px;
    color : 	#b9b8b5;
    float: right;
}
.icon-bronze{
    font-size: 32px;
    color :     #cd7f32;
    float: right;
}
